/* Event: Tournament Brackets */
.alc-template-tournament-bracket {

	@media (max-width: 991px) {
		overflow: hidden;
		overflow-x: auto;
	}
}
.alc-tournament-bracket-single {

}

.alc-tournament-bracket {
	margin: 0 -28px;
	flex-wrap: nowrap;
}
	.alc-tournament-bracket__round {

	}

	// Quarter-Finals
	.alc-tournament-bracket__round--quarter {

	}

	// Semi-Finals
	.alc-tournament-bracket__round--semi {
		display: flex;
		align-self: stretch;

		.alc-tournament-bracket__section {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;

			&::before {
				height: 338px;
			}
		}
			.alc-tournament-bracket__event {
				height: 50%;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				align-content: center;
				margin-top: -10px;

				&:last-child {
					margin-top: -20px;
				}
			}
				.alc-tournament-bracket__team {
					flex-basis: 100%;
				}
	}

	// Final
	.alc-tournament-bracket__round--final {

		.alc-tournament-bracket__section {

			&::before {
				display: none;
			}
		}
	}

	// Champion
	.alc-tournament-bracket__round--champion {

		.alc-tournament-bracket__section {

			&::before,
			&::after {
				display: none;
			}
		}

			.alc-tournament-bracket__event {

				&::before {
					display: none;
				}
			}

				.alc-tournament-bracket__team {
					border-top-right-radius: 28px;
					border-bottom-right-radius: 28px;
				}
	}

		// Section
		.alc-tournament-bracket__section {
			position: relative;
			padding: 0 20px;

			&:last-child {
				margin-bottom: 0;

				.alc-tournament-bracket__event {

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				background-color: $tournament-divider;
				top: 50%;
				transform: translateY(-50%);
			}

			// Vertical Line
			&::before {
				right: -8px;
				width: 2px;
				height: 170px;
			}

			// Horizontal Line
			&::after {
				width: 24px;
				height: 2px;
				right: -30px;
			}
		}
			.alc-tournament-bracket__event {
				margin-bottom: 40px;
				position: relative;

				// Horizontal Line
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: -28px;
					top: 50%;
					transform: translateY(-50%);
					width: 24px;
					height: 2px;
					background-color: $tournament-divider;
				}
			}

				.alc-tournament-bracket__team {
					padding: 13px;
					min-height: 56px;
					display: flex;
					align-items: center;
					flex-direction: row;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					@media (max-width: 991px) {
						.alc-tournament-bracket__team-info {
							display: none;
						}
					}
				}
				.alc-tournament-bracket__team--winner {
					background-color: $tournament-team-bg-winner;

					.alc-tournament-bracket__team-score {
						border-color: $color-primary;
						color: $headings-color;
					}
				}
					.alc-tournament-bracket__team-body {
						display: flex;
					}
						.alc-tournament-bracket__team-thumb {
							width: 28px;
							text-align: center;
							margin-right: 12px;
						}
						.alc-tournament-bracket__team-info {

						}
							.alc-tournament-bracket__team-name {
								font-size: 12px;
								line-height: 1.2em;
								margin-bottom: .1em;
							}
							.alc-tournament-bracket__team-place {
								display: block;
								font-size: 9px;
								line-height: 1.2em;
							}
					.alc-tournament-bracket__team-score {
						min-width: 28px;
						height: 28px;
						text-align: center;
						border-radius: 4px;
						padding: 0 4px;
						background-color: $body-bg-color;
						font-size: 12px;
						line-height: 24px;
						font-weight: 700;
						font-family: $font-family-accent;
						border: 2px solid transparent;
						margin-left: auto;
					}
					.alc-tournament-bracket__team-score--final {
						position: relative;
						width: 56px;
						height: 56px;
						border-radius: 50%;
						border-width: 4px;
						border-color: $color-primary;
						margin-top: -14px;
						margin-right: -14px;
						margin-bottom: -14px;

						.df-icon {
							display: block;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%) scale(1.25);
						}
					}
