/* Progress Bars
/* ------------------------- */

// Bar itself
// -------------------------
.progress-stats {
	overflow: hidden;
	position: relative;
	margin-bottom: 19px;
	display: flex;
	align-items: center;

	.progress {
		flex-grow: 1;
		margin-bottom: 0;
	}
}

// Outer container
.progress {
	overflow: hidden;
	height: $progress-height;
	margin-bottom: 10px;
	background-color: $progress-bg;
	border-radius: $progress-border-radius;
	box-shadow: none;
	position: relative;
	top: 2px;
}

	// Bar of progress
	.progress__bar {
		float: left;
		width: 0%;
		height: 100%;
		line-height: $progress-height;
		color: $progress-bar-color;
		background-color: $progress-bar-bg;
		box-shadow: none;
		border-radius: $progress-border-radius;
	}

	.progress__label,
	.progress__number {
		@include font-accent(11px);
		line-height: 1em;
	}

	.progress__label {
		color: $progress-label-color;

		& + .progress {
			margin-left: 10px;
		}

		&.progress__label--color-default {
			color: $body-font-color;
		}
	}
	.progress__number {
		font-weight: normal;

		&.progress__number--color-highlight {
			color: $headings-color;
		}

		.progress + & {
			margin-left: 10px;
		}
	}

	.progress__label-top {
		display: block;
		text-align: right;
	}

.progress__bar--secondary {
	@include progress-bar-variant($progress-bar-secondary-bg);
}

.progress__bar--success {
	@include progress-bar-variant($progress-bar-success-bg);
}

.progress__bar--info {
	@include progress-bar-variant($progress-bar-info-bg);
}

.progress__bar--warning {
	@include progress-bar-variant($progress-bar-warning-bg);
}

.progress__bar--danger {
	@include progress-bar-variant($progress-bar-danger-bg);
}

.progress__bar--aqua-gradient {
	@include progress-bar-variant-gradient(#0683d3, #3ffeca);
}
.progress__bar--blue-pink {
	@include progress-bar-variant-gradient(#189aff, #f21956);
}

.progress__bar--custom-color-1 {
	@include progress-bar-variant(#fff7ca);
}


// Double Progress
.progress-double-wrapper {

	& + & {
		margin-top: 12px;
	}

	.progress--battery {
		margin-bottom: 0;
	}
}

.progress-double-wrapper--fullwidth {

	.progress--battery {

		// Remove bar holder stripes
		background-image: none !important;
	}
}

.progress-inner-holder {
	display: table;
	width: 100%;
	padding-bottom: 3px;
}
	.progress__digit {
		display: table-cell;
		width: 1%;
		vertical-align: middle;
		@include font-accent(11px);
		line-height: 1.2em;
		font-weight: 400;
	}
	.progress__digit--40 {
		width: 40px;

		&.progress__digit--left {
			padding-right: 0;
		}

		&.progress__digit--right {
			text-align: right;
			padding-left: 0;
		}
	}
	.progress__digit--38 {
		width: 38px;

		&.progress__digit--left {
			padding-right: 0;
		}

		&.progress__digit--right {
			text-align: right;
			padding-left: 0;
		}
	}
	.progress__digit--highlight {
		color: $progress-label-color;
	}
	.progress__digit--left {
		padding-right: 20px;
	}
	.progress__digit--right {
		padding-left: 20px;
	}
		.progress-title {
			font-size: 10px;
			line-height: 1.2em;
			margin-bottom: 0.6em;
			text-align: center;
		}

	.progress__double {
		display: table-cell;

		.progress {
			width: 50%;
			float: left;
			margin-bottom: 0;
			top: 3px;

			&:first-child {
				border-radius: $progress-border-radius 0 0 $progress-border-radius;

				.progress__bar {
					margin-left: auto;
					border-radius: $progress-border-radius 0 0 $progress-border-radius;
				}
			}

			&:last-child {
				border-radius: 0 $progress-border-radius $progress-border-radius 0;

				.progress__bar {
					border-radius: 0 $progress-border-radius $progress-border-radius 0;
				}
			}

			&.progress--battery {

				&:first-child {
					transform: scale(-1, 1);
					margin-right: 2px;
					width: calc(50% - 2px);

					.progress__bar {
						// float: left;
						margin-left: 0;
					}
				}

				&:last-child {
					margin-left: 2px;
					width: calc(50% - 2px);
				}
			}
		}
	}

	// Label in the Center
	.progress__double--label-center {

		.progress-title {
			float: left;
			width: 38%;
		}

		.progress {
			width: 31%;
		}
	}


// Progress Top Label
.progress-stats--top-labels {
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: visible;

	.progress__label {
		order: 0;
	}
	.progress {
		flex-basis: 100%;
		order: 2;
		margin-left: 0 !important;
		margin-top: 12px;
		margin-bottom: 10px;
	}
	.progress__number {
		order: 1;
		font-weight: 700;
	}
}

// Sizes
.progress--lg {
	height: 9px;
	border-radius: 5px;

	.progress__bar {
		border-radius: 5px;
	}

	.progress__double {

		.progress {

			&:first-child {
				border-radius: 5px 0 0 5px;

				.progress__bar {
					border-radius: 5px 0 0 5px;
				}
			}

			&:last-child {
				border-radius: 0 5px 5px 0;

				.progress__bar {
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
}


/* Progress - Battery */
.progress--battery {
	height: 20px;
	margin-bottom: 18px;
	top: 0;
	border-radius: 0;
	@include progress-bar-battery-holder($progress-bg);

	// Primary
	.progress__bar {
		line-height: 20px;
		border-radius: 0;
		position: relative;
		z-index: 1;
		@include progress-bar-battery-bar($progress-bar-bg);
	}

	// Primary
	.progress__bar--secondary {
		line-height: 20px;
		border-radius: 0;
		position: relative;
		z-index: 1;
		@include progress-bar-battery-bar($progress-bar-secondary-bg);
	}

	// Success
	.progress__bar--success {
		@include progress-bar-battery-bar($progress-bar-success-bg);
	}

	// Info
	.progress__bar--info {
		@include progress-bar-battery-bar($progress-bar-info-bg);
	}

	// Warning
	.progress__bar--warning {
		@include progress-bar-battery-bar($progress-bar-warning-bg);
	}

	// Danger
	.progress__bar--danger {
		@include progress-bar-battery-bar($progress-bar-danger-bg);
	}
}

/* Progress - Dashed */
.progress--dashed {
	height: 4px;
	border-radius: 0;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 4px;
		transform: scaleY(-1);
		background-image: linear-gradient(
			45deg,
			$card-bg 0%,
			$card-bg 3px,
			transparent 3px,
			transparent 12%,
			$card-bg 12%,
			$card-bg calc(12% + 3px),
			transparent calc(12% + 3px),
			transparent 25%,
			$card-bg 25%,
			$card-bg calc(25% + 3px),
			transparent calc(25% + 3px),
			transparent 41%,
			$card-bg 41%,
			$card-bg calc(41% + 3px),
			transparent calc(41% + 3px),
			transparent 57%,
			$card-bg 57%,
			$card-bg calc(57% + 3px),
			transparent calc(57% + 3px),
			transparent 77%,
			$card-bg 77%,
			$card-bg calc(77% + 3px),
			transparent calc(77% + 3px),
			transparent calc(100% - 3px),
			$card-bg calc(100% - 3px),
			$card-bg 100%
		);

		// MS Edge fallback
		@supports (position:-ms-page) {
			background-image: linear-gradient(
				45deg,
				$card-bg 0%,
				$card-bg 3px,
				transparent 3px,
				transparent 12%,
				$card-bg 12%,
				$card-bg 13%,
				transparent 13%,
				transparent 25%,
				$card-bg 25%,
				$card-bg 26%,
				transparent 26%,
				transparent 41%,
				$card-bg 41%,
				$card-bg 42%,
				transparent 42%,
				transparent 57%,
				$card-bg 57%,
				$card-bg 58%,
				transparent 58%,
				transparent 77%,
				$card-bg 77%,
				$card-bg 78%,
				transparent 78%,
				transparent 99%,
				$card-bg 99%,
				$card-bg 100%
			);
		}

		// IE 11 fallback
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			background-image: linear-gradient(
				45deg,
				$card-bg 0%,
				$card-bg 3px,
				transparent 3px,
				transparent 12%,
				$card-bg 12%,
				$card-bg 13%,
				transparent 13%,
				transparent 25%,
				$card-bg 25%,
				$card-bg 26%,
				transparent 26%,
				transparent 41%,
				$card-bg 41%,
				$card-bg 42%,
				transparent 42%,
				transparent 57%,
				$card-bg 57%,
				$card-bg 58%,
				transparent 58%,
				transparent 77%,
				$card-bg 77%,
				$card-bg 78%,
				transparent 78%,
				transparent 99%,
				$card-bg 99%,
				$card-bg 100%
			);
		}
	}


	.progress__bar {
		border-radius: 0;
	}
}


/* Progress - Lines */
.progress--lines {
	height: 20px;
	border-radius: 0;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	transform: skewX(-10deg);

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		@include progress-bar-lines-holder($card-bg);
	}

	// Primary
	.progress__bar {
		line-height: 20px;
		border-radius: 0;
		position: relative;
		z-index: 1;
	}
}


/* Progress Table */
.progress-table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	padding: 0;
	border-spacing: 0;
	font-size: 12px;
	line-height: 1.2em;
	color: $headings-color;
	font-family: $font-family-accent;
	font-weight: bold;

	tr + tr {
		border-top: 36px solid transparent;
	}

	td {
		vertical-align: middle;
	}
}
.progress-table--sm-space {

	tr + tr {
		border-top-width: 28px;
	}
}
	.progress-table__progress-bar {
		width: 27%;

		.progress {
			margin-bottom: 0;
			top: 0;
		}
	}
	.progress-table__progress-bar--first {

		.progress__bar {
			margin-left: auto;
		}
	}
	.progress-table__progress-label {
		width: 34px;
		text-align: center;
		font-size: 11px;
		padding: 0 10px;
		color: $body-font-color;
	}
	.progress-table__progress-label--highlight {
		color: $headings-color;
	}
	.progress-table__title {
		width: 1px;
		padding: 0 10px;
		text-align: center;
		white-space: nowrap;
	}

/* Progress Table: one progress bar */
.progress-table--simple {

	tr + tr {
		border-top-width: 12px;

		@media (min-width: 992px) {
			border-top-width: 18px;
		}
	}

	.progress-table__progress-bar {
		width: 100%;
	}
	.progress-table__title {
		text-align: left;
		padding: 0 14px 0 0;
	}
}

/* Progress Table: Full Width */
.progress-table--fullwidth {

	.progress-table__progress-label:first-child {
		text-align: left;
		padding-left: 0;
	}
	.progress-table__progress-label:last-child {
		text-align: right;
		padding-right: 0;
	}
	.progress-table__progress-bar {
		width: 43%;
	}
}

// For Demo
.progress__bar-width-100 {
	width: 100%;
}
.progress__bar-width-90 {
	width: 90%;
}
.progress__bar-width-80 {
	width: 80%;
}
.progress__bar-width-70 {
	width: 70%;
}
.progress__bar-width-60 {
	width: 60%;
}
.progress__bar-width-50 {
	width: 50%;
}
.progress__bar-width-40 {
	width: 40%;
}
.progress__bar-width-30 {
	width: 30%;
}
.progress__bar-width-20 {
	width: 20%;
}
.progress__bar-width-10 {
	width: 10%;
}
