/*
File Name: 		custom.css
Description:  You can add your custom CSS here and it will overwrite template styles
*/

/* Post: Cards Thumb Left
              height={'65vh'}
*/
.posts--cards-thumb-left {
  .posts__thumb {
    height: 100%;
    @media (min-width: 768px) {
      max-width: 175px;
    }

    @media (min-width: 992px) {
      max-width: 70px;
    }

    @media (min-width: 1199px) {
      max-width: 230px;
    }
  }
}

.card__pd {
  padding: 11px 24px;
}

.posts__item--card {
  .posts__excerpt_pd {
    padding: 10px 0 8px 0;

    @media (min-width: 992px) {
      padding: 20px 0 8px 0;
    }
  }
}

.posts__item--card .posts__footer {
  padding: 14px 24px;
}

.header__secondary,
.header__primary,
.header-search-form {
  background: transparent;
}

.header__primary-inner::before {
  width: 233px;
}

.info-block__link {
  color: #8a8c90;
}

.tr-caption {
  display: block;
  padding-top: 10px;
  font-size: 13px;
  color: rgba(49, 64, 75, 0.767);
  text-align: center;
  line-height: 1.5em;
}

.footer {
  color: #8a8c90;
}

.main-nav__list > li > a.active {
  color: #ff6711;
  text-decoration: none;
  background-color: transparent;
}

.main-nav__list > li > a.active::before {
  background-color: #ff6711;
}

.error__background {
  background-color: #edeff4;
}

.twitch-stream__body .twitch-stream__subtitle--sec {
  width: 100%;
  font-size: 15px;
  line-height: 1.1em;
  color: #fff;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitch-stream__body .twitch-stream__title--sec {
  font-size: 12px;
  color: #a59cae;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
}

// Tweak these to change the style of the toggle
$toggle-background-color-on: #ff6711;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 50px;
$toggle-height: 25px;
$toggle-gutter: 3px;
$toggle-radius: 50%;
$toggle-control-speed: .3s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  position: relative;
  padding-left: $toggle-width;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;
    
    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}